//= require normalize-css/normalize
//= require form

html, body {
  height: 100%;
  min-height: 1620px;
}

body {
  background-image: image-url("/assets/images/background.jpg");
}

.image {
  display: block;
  width: 212px;
  height: 209px;
  background-image: image-url("/assets/images/border.png");
  padding-left: 12px;
  padding-top: 13px;
}

#main {
  top: 0;
  width: 1024px;
  min-height: calc(100% - 93px);
  position: relative;
  margin: 0 auto;
}

.clear {
  clear: both;
}

#content {
  margin-left: 325px;
  padding-top: 195px;
  clear: both;
  z-index: 150;

  #text {
    width: 420px;
    float: left;
    a {
      color: white;
    }
  }

  #images {
    width: 275px;
    float: right;
    margin-top: 25px;
  }

  .subitem {
    display: inline-block;
    margin-right: 5px;
  }

  #songs {
    width: 120px;
    height: 38px;
    background-image: image-url("/assets/images/menu/pisne_button.png");
    &.active, &:hover {
      background-image: image-url("/assets/images/menu/pisne_button_active.png");
    }
  }

  #rules {
    width: 120px;
    height: 38px;
    background-image: image-url("/assets/images/menu/pravidla_button.png");
    &.active, &:hover {
      background-image: image-url("/assets/images/menu/pravidla_button_active.png");
    }
  }

  #tombola {
    width: 120px;
    height: 38px;
    background-image: image-url("/assets/images/menu/tombola_button.png");
    &.active, &:hover {
      background-image: image-url("/assets/images/menu/tombola_button_active.png");
    }
  }
}

#footer {
  width: 1024px;
  height: 73px;
  background-image: image-url("/assets/images/footer.png");
  z-index: 100;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  background-repeat: no-repeat;

  #contact {
    color: black;
    float: left;
    margin-left: 120px;
    height: 46px;
    margin-top: 29px;
    width: 600px;
    p {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
  }
}


.layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;

  &#line {
    width: 665px;
    height: 9px;
    background-image: image-url("/assets/images/line.png");
    left: 321px;
    top: 176px;
  }

  &#plectrum {
    width: 169px;
    height: 150px;
    left: 27px;
    top: 79px;
    background-image: image-url("/assets/images/plectrum.png");
    z-index: 100;
  }

  &#guitar {
    left: 43px;
    width: 275px;
    height: 322px;
    background-image: image-url("/assets/images/guitar.png");
    z-index: 90;
  }

  &#logo {
    height: 418px;
    width: 293px;
    background-image: image-url("/assets/images/logos.png");
    top: 262px;
    left: 18px;
  }

  &#pencil {
    height: 179px;
    width: 738px;
    background-image: image-url("/assets/images/pencil.png");
    left: 286px;
  }

  &#glitch {
    height: 275px;
    width: 305px;
    background-image: image-url("/assets/images/glitch.png");
    top: auto;
    left: auto;
    right: 2px;
    bottom: -93px;
    z-index: 90;
  }

  &#menu {
    width: 665px;
    height: 40px;
    z-index: 150;
    top: 124px;
    left: 331px;

    #news {
      display: inline-block;
      width: 121px;
      height: 33px;
      background-image: image-url("/assets/images/menu/news.png");
      &.active, &:hover {
        background-image: image-url("/assets/images/menu/news_active.png");
      }
    }

    #about_us {
      display: inline-block;
      width: 72px;
      height: 26px;
      background-image: image-url("/assets/images/menu/about_us.png");
      margin-left: 28px;
      margin-bottom: 7px;
      &.active, &:hover {
        background-image: image-url("/assets/images/menu/about_us_active.png");
      }
    }

    #rekord {
      display: inline-block;
      width: 83px;
      height: 25px;
      background-image: image-url("/assets/images/menu/rekord.png");
      margin-left: 30px;
      margin-bottom: 8px;
      &.active, &:hover {
        background-image: image-url("/assets/images/menu/rekord_active.png");
      }
    }

    #program {
      width: 104px;
      height: 26px;
      display: inline-block;
      background-image: image-url("/assets/images/menu/program.png");
      margin-left: 33px;
      margin-bottom: 2px;
      &.active, &:hover {
        background-image: image-url("/assets/images/menu/program_active.png");
      }
    }

    #registration {
      width: 135px;
      height: 33px;
      display: inline-block;
      background-image: image-url("/assets/images/menu/registration.png");
      margin-left: 27px;
      &.active, &:hover {
        background-image: image-url("/assets/images/menu/registration_active.png");
      }
    }
  }
}

body {
  font-family: '"Trebuchet MS", Helvetica, sans-serif';
  color: #fff;
}

h1, h2 {
  color: #ca983c;
  font-weight: 400;
}

h2 {
  font-size: 20px;
}

#content {
  ul {
    li {
      a {
        color: #fff;
      }
    }
  }
}

#logos {
  background-image: image-url("/assets/images/partners.png");
  background-position: 15px 0;
  width: 105px;
  height: 18px;
  top: 690px;

  .box {
    margin-top: 30px;
    width: 244px;
    padding: 23px;
    background-color: #fff;

    .main-partners {
      color: black;
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .sublogo {
      display: inline-block;
    }

    #spektrum {
      float: left;
      width: 79px;
      height: 112px;
      background-image: image-url("/assets/images/partners/spektrum.png");
    }

    #dp {
      float: left;
      width: 111px;
      height: 89px;
      background-image: image-url("/assets/images/partners/dp.png");
    }

    #pre {
      margin-top: 5px;
      float: left;
      width: 113px;
      height: 64px;
      background-image: image-url("/assets/images/partners/pre.png");
    }

    #pe {
      float: right;
      width: 115px;
      height: 159px;
      background-image: image-url("/assets/images/partners/pe.png");
    }

    #city {
      float: right;
      margin-top: 12px;
      width: 111px;
      height: 84px;
      background-image: image-url("/assets/images/partners/city.png");
    }

    #bandzone {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 246px;
      height: 56px;
      background-image: image-url("/assets/images/partners/bandzone.png");
    }

    #praha {
      margin-top: 10px;
      width: 111px;
      height: 111px;
      background-image: image-url("/assets/images/partners/praha.png");
    }

    #kytary {
      width: 245px;
      height: 104px;
      background-image: image-url("/assets/images/partners/kytary.png");
    }

    #p8 {
      margin-top: 20px;
      width: 246px;
      height: 68px;
      background-image: image-url("/assets/images/partners/osmicka.png");
    }
  }
}

.center {
  text-align: center;
}
