a.subitem#songs href="/rekord/pisne" class = ("active" if current_page.path == 'rekord/pisne.html')
a.subitem#rules href="/rekord/pravidla" class = ("active" if current_page.path == 'rekord/pravidla.html')
a.subitem#tombola href="/rekord/tombola" class = ("active" if current_page.path == 'rekord/tombola.html')
