---
title: 'Tombola'
css: 'tombola'
---

= partial(:submenu)

h1 = current_page.data.title

p Street Happenning Tombola, kterou pro vás připravujeme ve spolupráci se společností Kytary.cz, vám způsobí minimálně dvojitou radost.
p 
  | Nejen, že si můžete odnést některou z hodnotných cen (např. elektrickou kytaru s podpisem pana Petra Jandy), ale zároveň podpoříte LORM – společnost pro hluchoslepé. Více na 
  a href="http://www.lorm.cz" target="_blank" www.lorm.cz
  | .
p Jak to funguje? Všichni registrovaní k účasti na kytarovém rekordu obdrží jeden výherní lístek do tomboly zdarma. 
p Ostatní návštěvníci multižánrového festivalu si mohou libovolný počet lístků zakoupit. Cena jednoho lístku je pouhých 30 Kč.
p Street Happenning Tombola se tak stává pokračovatelem celoroční sbírky, jejíž výtěžek pomůže zabezpečit služby pro hluchoslepé.
