---
title: 'Tombola'
css: 'tombola'
---

= partial(:submenu)

h1 = current_page.data.title

h2 Street Happening Jackpot

p Každý z vás, který se zaregistruje k účasti na kytarovém rekordu, navýší Street Happening Jackpot!
p Jackpot je hlavní výhrou tomboly, která bude v našem rekordním dni mít své nezastupitelné místo.
p Karlínské Spektrum za každého registrovaného „kytaristu“ věnuje do jackpotu 10 Kč. Pokud se vás k rekordu registruje např. 500, jsou to pak určitě snadné počty, kolikže vlastně bude činit finanční prémie pro vylosovaného vítěze hlavní ceny naší „vaší“ tomboly.
p Tombolu plnou hudebních cen a hlavní prémii (Street Happening Jackpot) pro vás připravuje Karlínské Spektrum ve spolupráci se společností KYTARY CZ.
p Neváhejte, a přihlaste se, co by účastníci rekordu. Čím víc nás bude, tím silněji se zapíšeme do Guinessovy knihy rekordů.
p Odnesete si nejen možnou výhru, ale i spoustu zážitků a zažijete báječnou atmosféru, které akce festivalového ražení s sebou nesou.
p Pojďme do toho, ať je nás alespoň 500!!! :)
