---
title: 'Aktuality'
css: 'index'
images:
  - singer.jpg
---
h1 = current_page.data.title

div.news
p Multižánrový festival Street Happening of Karlín a Kytarový rekord letos připadají na sobotu 3. října. Akce bude probíhat od 15:00 do 20:00 na Lyčkově náměstí v pražském Karlíně.
p Vystoupí pro vás sedm kapel a jedinců žánrově vymezených, jedinečných a na české i zahraniční hudební scéně zavedených umělců.
p Ambasadorem Kytarového rekordu, respektive pokusu o zápis do české verze Guinnesovy knihy rekordů v hromadné hře na kytaru, je žijící legenda – kytarista, zpěvák, skladatel a frontman kapely Olympic - pan Petr Janda.
p Registrujte se na webu www.karlinhappening.cz k účasti na rekordu, vezměte s sebou kytaru (popř. třeba i ukulele) a pojďte spolu s Petrem Jandou zahrát tři slavné hity kapely Olympic.
p Hrát budeme písně:
ul
  li Dej mi víc své lásky
  li Snad jsem to zavinil já
  li Želva

p Musí nás být alespoň 372!!!

h2 Pozor! Novinka festivalu:
p Součástí festivalu je tzv. Street Happening charitativní tombola. Výtěžek z tomboly poputuje na účet neziskové organizace LORM – společnosti pro hluchoslepé.
p Pravidla a podrobnosti k celé akci najdete v příslušných sekcích webu.
