---
title: 'Aktuality'
css: 'index'
images:
  - singer.jpg
---
h1 = current_page.data.title

p Tak to můžeme konečně odstartovat! Je to jednoduché – stačí se přihlásit v sekci REGISTRACE, a pak už jen čekat na další info
p Postupně doplníme akordy k písním, abyste se je mohli naučit a hraní v den rekordu se tak pro Vás stalo ještě větší zábavou. 
p Jaký bude program? To je zatím překvapení…Sledujte pravidelně naše stránky a každý týden se dozvíte něco nového. 
p Nezapomínejte zvát své kamarády a známé. Čím víc lidí o tom bude vědět, tím víc se jich přihlásí a společně budeme blíž k rekordu. 
p Jedeme do toho! Jedna, dva, tři….
