---
title: 'O nás'
css: 'about_us'
images:
  - spektrum.jpg
---
h1 = current_page.data.title

p Karlínské Spektrum je rozsahem svých aktivit největším střediskem DDM hl. m. Prahy zřizovaným hlavním městem Prahou. Je druhým nejstarším zařízením svého druhu na území České republiky a v letošním roce slaví již 64. narozeniny. Za tuto dobu ušlo velký kus cesty, obstálo v nelehkých zkouškách a životních etapách a vykonalo mnoho užitečného nejen pro děti a mládež. 
p Dnes je Karlínské Spektrum moderním, profesionálním, multifunkčním zařízením poskytujícím prostor pro organizování tradičních i trendových zájmových činností a projektů se zaměřením na všechny věkové kategorie. Je bohaté a pestré svou nabídkou aktivit, forem a metod práce, dynamické svou schopností tuto nabídku přizpůsobovat vaší poptávce, elegantní svou image, žádoucí a vyhledávané pro partnerství v různých projektech škol, školských zařízení, občanských sdružení, státních institucí i soukromých firem a je i příjemné a pozitivní svou firemní kulturou. 
