---
title: 'Program'
css: 'program'
---

h1 = current_page.data.title

p Lucie Bakešová Dekolt 17:00 – 17:30
p Caminando 17:30 – 18:00
p Grassroad 18:00 – 18:30
p Jakub Ondra 18:30 – 19:00
p Kytarový rekord 19:00 – 19:30
p Společné ladění 19:00 – 19:10
p Rekordní písně 19:10 – 19:30
p The lazy bones 20:00 – 20:30
p Galactic Messengers 20:30 – 21:00
